<p>{{{part1}}}</p>
{{#if customPart}}
<p>{{{customPart}}}</p>
{{/if}}
<p>{{{part2}}}</p>
<div class="a11y-dont-show-again">
  <input id="a11y-dont-show" class="a11y-dont-show-checkbox" name="remember-me" type="checkbox">
  <label for="a11y-dont-show" class="a11y-dont-show-label">{{dontShow}}</label>
</div>
